
body {
  background-color: #F4F4F4;
  font-family: "Arial";
  font-size:14px;
  color: #484848;
  height:auto;
  padding-bottom: 200px;
}

h1 {
  width: 160px;
  font-size: 70px;
}

.page_wrapper{
  padding-top: 20px;
  width:1020px;
  margin: 0 auto;
  z-index: 0;
  position: relative;
}

.info_colunas {
  margin-left:40px;
  height: 214px;
  width: 980px;
  line-height: 28px;
  font-size: 15px; 
  z-index: 1;
  position: relative; 

}

.text_box {
  width: 333px;
  height: 125px;
  float: left;
  margin-left: 7px;
}

.three_column {
  column-count:3;
  -moz-column-count:3;
  -moz-column-gap: 25px;
  -webkit-column-gap: 25px;
  -webkit-column-count:3;
  -moz-column-rule-width:  10px;
  -webkit-column-rule-width:  10px;
}

.single_post {
  width: 1024px;
  height: auto;
  margin-top: 20px;
}

.single_post li{
  list-style-type: none;
  text-align: left;
}
.content{
  z-index: 2;
}
.content_box {
  width:1024px;
  height:210px;
  margin-top: 45px;
  background: #FAFAFA;
  box-shadow: 0px 2px #E5E5E5;
  }

.content_box:hover{
  background: #FFFFFF;
}
.content_box:hover h1{
  color:#3F2CFF;
}
.content_box:hover h2{
  color:#3B3B3B;
}
.content_box:hover h3{
  color:#808080;
}

.content_box h1{
  font-family: "Proxima Nova";
  font-size: 34px;
  color:#525252;
  width: 940px;
}
.content_box h2{
  font-size: 16px;
  font-family: "DIN Condensed"; 
  color:#919191;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.content_box h3{
  font-size: 18px;
  font-family: "Arial";
  color:#909090;
}
.content_box h4{
  color:#3F2CFF;
  font-family: "Arial";
  font-size: 18px;
}

#carregar_mais {
  height: 60px;
  text-decoration: none;
  font-family:"DIN Condensed";
  font-size: 18px;
  width:1024px;
  margin-top: 45px;
  background: #FAFAFA;
  box-shadow: 0px 2px #E5E5E5;
}

#carregar_mais p{
  
  font:"DIN Condensed";
  color:#909090;
  margin-left: 460px;
  padding-top: 20px;
}

#carregar_mais:hover {
  background: #FFFFFF;
  
}

#carregar_mais:hover p{
  color:#808080;
}

.post_info{
  padding-top: 45px;
  margin-left: 40px;
}


.post_general {
  margin-left: 40px;
  margin-top: 14px;
}

.post_content{
  padding-top: 17px; 
  height:50px;
  line-height: 29px;
}
.post_content a{
  text-decoration: none;
  font-size: 18px;
  font-family: "Arial";
  color:#909090;
}

.posts li{
  list-style-type: none;
}

.link_post{
  width: 500px;
  font-style: none;
  font-variant: none;
}

.link_post a{
  text-decoration: none;
  width: auto;
}
