.post {
  height:auto;
}

.post-title{
  height :auto;

}
.post-title h1{
  font-size: 50px;
  width:auto;
  height:auto;
  max-width: 1020px;
  font-family: "Próxima nova";
  text-transform: uppercase;
  line-height: 88px;
}

.post-date-box{
  height:40px;
  font-size:18px;
}

.post-content-box {
  background-color:#FAFAFA;
  box-shadow: 0px 2px #E5E5E5;
  height: auto;
  margin-left: 20px;
  margin-right: 20px;
  padding:40px;

}
.conteudo-post {
  
  font-size:15px;
  line-height: 50px;
}
.post-content-box h1{
  width:auto;
  max-width: 900px;
  height: auto;
  font-size: 30px;
  font-family: "Proxima Nova";
  color:#525252;
}

.post-content-box h2{
  font-size: 18px;
  color:#919191;
  font-family: "Din Condensed";
  text-transform: uppercase;
}

#post_cont h1{
  font-size: 30px;

  font-family: "Proxima Nova";
  color:#525252;
}

#post_cont h2{
  font-size: 28px;
  color:#525252;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Proxima Nova";
}

#post_cont h3{
  font-size: 25px;

  padding-bottom: 15px;
  padding-top: 15px;
  font-family: "Proxima Nova";
  color:#525252;
}
#post_cont p{
  font-family: "Arial";
  font-size: 18px;  
  line-height: 25px;
  padding-left:0px;
  padding-right: 30px;
  color:#909097;
}

.prox-ant-box{
  margin-top: 40px;
  margin-right: 20px;
  height:60px;
  width: 980px;
}

.ant-button{
  background-color:#FAFAFA;
  box-shadow: 0px 2px #E5E5E5;
  margin-left: 20px;
  margin-right: 20px;
  height:60px;
  width: 200px;
  color: gray;
 }

 .ant-button a{
  color: gray;
 }

.button-ant{
  font-family: "Próxima Nova";
  font-size: 22px;
  color:gray;
  margin:auto auto;
  height: 60px;
}

.previous_post{
  text-decoration: none;
  color:gray;
  margin-left: 57px;
}
/*
.button-ant a{
  text-decoration: none;
  color:gray;
  margin-left: 57px;
}
*/

.home-button{
  font-size: 22px;
  color:gray;
  width:200px;
   
  height:60px;
  background-color:#FAFAFA;
  box-shadow: 0px 2px #E5E5E5;
  margin:0 auto;
  margin-top: -60px;
}


.button-home{
  font-family: "Próxima Nova";
  font-size:22px;
  color:gray;
}

.button-home a{
  text-decoration: none;
  color:gray;
  margin-left: 33px;
}

.prox-button{
  font-family: "Próxima Nova";
  font-size: 22px;
  color:gray;
  width:200px;
  height: 60px;
  margin-left: 800px;
  margin-top: -61px;
  background-color:#FAFAFA;
  box-shadow: 0px 2px #E5E5E5;
 }

.button-prox{
  margin: auto 0;

}

.next_post a{
  height: 60px;
  width: 200px;  
}

.next_post{
  text-decoration: none;
  color:gray;
  margin-left: 63px;
}

.button-ant.enabled:hover {
  background: white;
  color: gray;

}

.button-ant.disabled{
  background-color: #e6e6e6;
}

.button-ant.enabled a{
  position: absolute;
  width: 200px;
  height: 60px;
  z-index: 10;
  text-decoration: none;
  margin-left: 0px;
}


.prox-button.enabled a{
  position: absolute;
  width: 200px;
  height: 60px;
  z-index: 10;
  text-decoration: none;
  margin-left: 0px;
  color: gray;
}

.prox-button.disabled {
  background-color: #e6e6e6;
}

.prox-button.enabled:hover {
  background-color: white;
}

.home-button:hover{
  background: white;
}


